In [3]:
import os
import pandas as pd

# Get the current working directory (where the notebook is running)
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
data_path = os.path.join(project_root, 'data', 'hybrid_training_data.csv')

# Read the data
try:
    df = pd.read_csv(data_path)
    print('Data loaded successfully!')
    display(df.head())
    print('\nDataFrame Info:')
    display(df.info())
    print('\nSummary Statistics:')
    display(df.describe(include='all'))
except Exception as e:
    print(f'Error loading data: {e}')

Data loaded successfully!

,Date,Port,Month,BDI,BDI_Inertia,Rain_Forecast,Wind_Forecast,Fog_Risk,Target_Delay
0,2020-03-12,Ponta da Madeira,3,633.0,502.3,314.1,17.9,0.0,15.50
1,2020-03-12,Tubarao,3,633.0,502.3,0.8,9.0,0.0,0.65
2,2020-03-12,Itaguai,3,633.0,502.3,43.7,7.7,0.0,5.38
3,2020-03-12,Port Hedland,3,633.0,502.3,4.8,15.4,0.0,0.84
4,2020-03-12,Dampier,3,633.0,502.3,17.2,37.7,0.0,1.10

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37634 entries, 0 to 37633
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           37634 non-null  object
 1   Port           37634 non-null  object
 2   Month          37634 non-null  int64
 3   BDI            37634 non-null  float64
 4   BDI_Inertia    37634 non-null  float64
 5   Rain_Forecast  37634 non-null  float64
 6   Wind_Forecast  37634 non-null  float64
 7   Fog_Risk       37634 non-null  float64
 8   Target_Delay   37634 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 2.6+ MB

None

Summary Statistics:

,Date,Port,Month,BDI,BDI_Inertia,Rain_Forecast,Wind_Forecast,Fog_Risk,Target_Delay
count,37634,37634,37634.000000,37634.000000,37634.000000,37634.000000,37634.000000,37634.000000,37634.000000
unique,1214,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2020-03-12,Ponta da Madeira,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,31,1214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,6.556013,1851.852554,1843.609143,213.116371,19.587254,0.066276,6.878924
std,NaN,NaN,3.388621,867.912748,808.513957,313.625449,9.283171,0.127143,5.753441
min,NaN,NaN,1.000000,393.000000,502.300000,0.000000,1.700000,-0.230000,0.030000
25%,NaN,NaN,4.000000,1308.000000,1357.000000,34.000000,13.000000,0.000000,2.310000
50%,NaN,NaN,7.000000,1705.500000,1691.750000,114.200000,18.000000,0.000000,4.435000
75%,NaN,NaN,9.000000,2159.000000,2089.800000,283.800000,24.300000,0.140000,10.827500
max,NaN,NaN,12.000000,5650.000000,4569.800000,4846.300000,95.400000,0.500000,31.110000